<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan = "true">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%d{HH:mm:ss:SS} %green([%thread]) %highlight(%level) - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>